<section class="jumbotron" id="jumbotron-style">
    <h1 id="home-title">Bloc Chat</h1>
    <p id="home-tagline">Your #1 chat option</p>
</section>

<div class="sidebar col-md-3">
    <div class="header">
        <p id="chatroom-title">Chat Rooms</p>
            <div class="new-chatroom">
                <button class="btn btn-info" ng-click="home.openModal()"><strong>+</strong> New Chat Room</button>
            </div>
    </div>
    
    <section class="chatrooms-list">
        <div ng-repeat="room in home.chatRooms" class="chatrooms">
            <p class="individual-room" ng-click="home.setCurrentChatRoom(room); home.currentRoomVisible = true">{{room.name}}</p>
        </div>
    
    </section>
</div>   

<div class="col-md-9 chatroom">
    <h3 ng-show="home.currentRoomVisible">{{home.currentRoom.name}}</h3>
    <p ng-repeat="message in home.messages">
        <strong>{{message.username}} ({{ message.sentAt }}): </strong> "{{message.content}}"
    </p>
    
    <form>
        <div>
            <input type="text" placeholder="Write your message here..." class="form-control" ng-model="home.newMessage">        
        </div>
        <button class="btn btn-success" type="button" ng-click="home.sendMessage()">Send</button>

    </form>

</div>
